// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-title {
  text-align: center;
}

.jumbotron {
  background-color: #ffffff !important;
}

.right-link {
  position: relative;
  right: 0;
}

.sign-up-form, .profile-form {
  margin-left: 4%;
}

.profile {
  margin-top: 10%;
}

.profile-picture {
  margin-top: 50%;
}

#navlist li
{
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}

